{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
{% include "nav.html" %}

<div class="container mt-5">
    <h1>{{ article.title }}</h1>
    <p>{{ article.content | safe }}</p>

    <div class="article-details">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Published date:</strong> {{ article.created|date:"d/m/Y H:iA" }}</p>
                <p><strong>Permalink:</strong> <a href="{{ request.build_absolute_uri }}">{{ request.build_absolute_uri }}</a></p>
            </div>
            <div class="col-md-6 text-md-right">
                <p><strong>Last updated:</strong> {{ article.updated|date:"d/m/Y H:iA" }}</p>
                <p><strong>Author:</strong> {{ article.author }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Was this article helpful?
                    <button onclick="incrementVote({{ article.id }}, true)">👍</button>
                    <button onclick="incrementVote({{ article.id }}, false)">👎</button>
                    Votes: <span id="vote-count">{{ article.votes }}</span>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
function incrementVote(articleId, isPositive) {
    fetch('{% url 'article_vote' article.id %}', {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'articleId': articleId, 'isPositive': isPositive })
    }).then(response => response.json())
      .then(data => {
        if (data.votes !== undefined) {
            document.getElementById('vote-count').innerText = data.votes;
            // alert('Thanks for voting! Total votes: ' + data.votes);
        } else {
            // alert('Error voting: ' + data.error);
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Failed to vote.');
      });
}


</script>
{% endblock %}
