{% extends 'base.html' %}
{% load markdownify %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
{% include "nav.html" %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search the knowledge base" aria-label="Search the knowledge base" aria-describedby="button-search" style="height: 50px; font-size: 1.2em;">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="button-search" style="height: 50px; font-size: 1.2em;">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h1>{{ article.title }}</h1>
            <p>{{ article.content | markdownify }}</p>
        </div>
    </div>

    {% if settings.allow_voting %}
    <div class="row justify-content-end mt-3">
        <div class="col-md-4 text-right">
            <p>Was this article helpful?
                <button onclick="incrementVote({{ article.id }}, true)">👍</button>
                <button onclick="incrementVote({{ article.id }}, false)">👎</button>
                Votes: <span id="vote-count">{{ article.votes }}</span>
            </p>
        </div>
    </div>
    {% endif %}

    {% if settings.show_article_meta %}
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Article details:
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Published date:</strong> {{ article.created|date:"d/m/Y H:iA" }}</p>
                            {% if settings.show_author_email %}
                                <p><strong>Author Email:</strong> {{ article.author.email }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <p><strong>Last updated:</strong> {{ article.updated|date:"d/m/Y H:iA" }}</p>
                            {% if article.permalink %}
                                <p><strong>Permalink:</strong> <a href="{{ absolute_url }}" {% if settings.article_links_open_new_page %}target="_blank"{% endif %}>{{ article.permalink }}</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="row mt-4">
        <div class="col-md-12 text-right">
            <!-- Email sharing link -->
            <a href="mailto:?subject={{ article.title|urlencode }}&body=Check out this article: {{ request.build_absolute_uri }}" class="btn btn-info">
                <i class="fas fa-envelope"></i> Share via Email
            </a>
            <a href="{% url 'edit_article' article.id %}" class="btn btn-primary">Edit Article</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
function incrementVote(articleId, isPositive) {
    fetch('{% url 'article_vote' article.id %}', {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'articleId': articleId, 'isPositive': isPositive })
    }).then(response => response.json())
      .then(data => {
        if (data.votes !== undefined) {
            document.getElementById('vote-count').innerText = data.votes;
        } else {
            console.error('Error voting: ' + data.error);
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Failed to vote.');
      });
}
</script>
{% endblock %}
