{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
{% include "nav.html" %}

<div class="container mt-5">
    <h1>{{ article.title }}</h1>
    <p>{{ article.content | safe }}</p>

    <div class="article-details">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Published date:</strong> {{ article.created|date:"d/m/Y H:iA" }}</p>
                <p><strong>Permalink:</strong> <a href="{{ request.build_absolute_uri }}">{{ request.build_absolute_uri }}</a></p>
            </div>
            <div class="col-md-6 text-md-right">
                <p><strong>Last updated:</strong> {{ article.updated|date:"d/m/Y H:iA" }}</p>
                <p><strong>Author:</strong> {{ article.author }}</p>
                <p><strong>Views:</strong> {{ article.view_count }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Was this article helpful? <button>👍</button> <button>👎</button> Votes: 1</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
