{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% include "nav.html" %}
    <div class="container" style="margin-top: 80px;">
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search the knowledge base" aria-label="Search the knowledge base" aria-describedby="button-search" style="height: 50px; font-size: 1.2em;">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" id="button-search" style="height: 50px; font-size: 1.2em;">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header bg-light border-bottom pb-2">
                        <p class="mb-0" style="white-space: nowrap;">Featured articles</p>
                    </div>
                    <div class="card-body p-0">
                        <table class="table m-0">
                            <tbody>
                                {% for article in  featured_articles%}
                                    <tr class="py-3">
                                        <td class="py-3"><a href="#">Article 1</a></td>
                                    </tr>
                                {% endfor %}                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header bg-light border-bottom pb-2">
                        <p class="mb-0">Top articles</p>
                    </div>
                    <div class="card-body p-0">
                        <table class="table m-0">
                            <tbody>
                                {% for article in published_articles %}
                                    <tr class="py-3">
                                    <td class="py-3"><a href="#">Computer</a></td>
                                    <td class="text-right py-3">
                                        <strong>View count:</strong> 2 / 
                                        <strong>Date:</strong> 31/07/2024 3:55PM
                                    </td>
                                </tr>
                                {% endfor %}                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block misc %}
    {% include "footer.html" %}
    {% include "messages.html" %}
{% endblock misc %}

